
* {
  box-sizing: border-box;
}

span {
  display: block;
}

.dragover {
  background-color: rgba(0,0,255,0.1);
}

.DirectoryEntry {
  padding: 2em;
  display: inline-block;
}

[draggable] {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

:root, body {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
}
